@import '../../styles/variables';

.progress {
  &__container {
    display: flex;
    justify-content: space-around;
    margin-bottom: 30px;
    padding: 20px;
  }

  &__my-player-name {
    color: white;
    text-align: center;
  }

  &__img {
    width: 150px;
    height: 150px;
  }

  &__each-player {
    display: flex;
    justify-content: center;
    margin: 25px 15px;
    color: white;
    font-family: 'Orbitron', sans-serif;
    letter-spacing: 2px;
    font-size: 14px;
  }

  &__player-name {
    width: 150px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__bar {
    background: #333;
    border-radius: 13px;
    height: 9px;
    width: 300px;
    margin: 4px 15px 0 15px;
  }

  &__inner-bar {
    content: '';
    display: block;
    background: $main-blue;
    height: 100%;
    border-radius: 9px;
    box-shadow: 0px 0px 8px $main-blue;
  }

  &__player-percentage {
    width: 40px;
  }
}
