@font-face {
  font-family: 'Source Code Pro';
  src: url('../../../../public/SourceCodePro-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Orbitron';
  src: url('../../../../public/Orbitron-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body,
html {
  margin: 0;
  padding: 0;
  position: relative;
  font-family: 'Source Code Pro', monospace;
  font-size: 20px;
  background-color: #2d2d2d;
  background-image: linear-gradient(40deg, rgb(53, 53, 53), rgb(25, 25, 25));
}