@font-face {
  font-family: 'Source Code Pro';
  src: url('../../../../assets/SourceCodePro-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Orbitron';
  src: url('../../../../assets/Orbitron-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body, html {
  margin: 0;
  padding: 0;
  position: relative;
  font-family: 'Source Code Pro', monospace;
  font-size: 20px;
}
