@import '../../../../assets/SourceCodePro-Regular.ttf';

@font-face {
  font-family: 'Source Code Pro';
  src: url('../../../../assets/SourceCodePro-Regular.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Orbitron';
  src: url('../../../../assets/Orbitron-Regular.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
}

body, html {
  margin: 0;
  padding: 0;
  position: relative;
  font-family: 'Source Code Pro', 'Orbitron', "Times New Roman", monospace;
  font-size: 20px;
}
