body, html {
  margin: 0;
  padding: 0;
}

.phrase-box {
  height: 100vh;
  font-size: 40px;
  font-weight: bold;

  &__full {
    border: 1px solid black;
    margin-bottom: 30px;
  }

  &__break {
    border: 1px solid blue;
    margin-bottom: 30px;
  }

  &__first-part {
    color: blue;
  }

  &__error-part {
    color: darkred;
  }

  &__last-part {
    color: black;
  }

  &__type-box {
    display: flex;
    border: 1px solid black;
    font-size: 35px;
    min-height: 50px;
  }

  &__type-box-left {
    border: 1px solid blue;
    > span {
      color: blue;

      &:last-child {
        font-size: 60px;
      }
    }
  }

  &__type-box-right {
    border: 1px solid red;

    > span {
      color: red;
    }
  }
}